* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-image: url("../../public/bglaborcamp.svg");
}

.login__Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.login__banner img {
  width: 611px;
}

.login__form {
  height: auto;
  width: 35vw;
  background-color: #fff;
  padding: 3vw 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
}

.login__form span {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #E01E5A;
  color: aliceblue;
  padding: 2px 12px;
  border-radius: 30px;
  font-size: 12px;
}

.login__form img {
  width: 50%;

}

#login__form__avatar {
  width: 20%;
  margin-bottom: 2.5vh;
}

.login__form h2 {
  color: #363641;
  font-size: 18px;
  font-weight:400;
  margin-top: 10px;
  margin-bottom: 15px;
}

.login__form h3 {
  color: #363641;
  font-weight:400;
  width: 250px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.login__form p {
  margin-top: 10px;
  text-align: center;
  color: #9D9D9D;
  
}

.login__form__return {
  width: 100%;
}

.login__form__return img{
  width: 15%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

label {
  color: #9D9D9D;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  background-color: #EFEFEF;
  border: #C6C6C6 2px solid;
  border-radius: 6px;
  padding: 10px 10px;
  margin-bottom: 15px;
  width: 75%;
}



.Primary__Button {
  margin-top: 10px;
  background-color: #0062B9;
  font-size: 18px;
  border: none;
  width: 100%;
  color: white;
  padding: 12px 12px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: #0E416F solid 5px;
  width: 30%;
}



#google__Button {
  padding: 12px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 285px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#google__Button img {
width: 25%;
}

.hr {
  border:2px;
}

/*Medias Queries*/

@media (max-width: 1200px) { 
  .login__banner {
    display: none;
  }
  .login__Container {
    width: 100%;
    height: 100vh;
  }
  .login__form {
    width: 80%;
  }
}

@media (max-width: 500px) { 
  .Primary__Button {
    width: 75%;
    font-size: 14px;
  }
  .login__form__return img{
    width: 20%;
  }
}