.preview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.preview__instructions {
  height: 86.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}

.preview__instructions {
  text-align: center;
}

.preview__instructions h2 {
  color: #363641;
  margin-bottom: 30px;
}

.preview__instructions p {
  color: #363641;
  margin-bottom: 30px;
  text-align: left;
}

.Second__Button {
  border: solid 2px #306BFF;
  width: 100%;
  color: #306BFF;
  padding: 12px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: #fff;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
}

#arrow {
  font-size: 16px;
}

@media (max-width: 600px) { 
  .preview__instructions {
    width: 80%;
  }
}